/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Courier New", Courier, monospace;
}
/* End reset css */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5e5f7;
  background-image: radial-gradient(
    #444cf7 0.6000000000000001px,
    #e5e5f7 0.6000000000000001px
  );
  background-size: 1.2rem 1.2rem;
}
.lights-control {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(31, 30, 30);
}
.lights-label {
  width: 4.2rem;
  height: 2.2rem;
  border-radius: 1.5rem;
  background-color: #000;
  cursor: pointer;
  transition: background-color 0.1s;
  padding: 0.3rem 0.4rem;
}
.lights-label::after {
  content: "";
  display: block;
  border-radius: 50%;
  transition: background-color 0.3s;

  width: 1.6rem;
  height: 1.6rem;
  background-color: #fff;
}
.lights-input {
  display: none;
}
.lights-input:checked + .lights-label {
  background-color: #fff;
}
.lights-input:checked + .lights-label::after {
  transform: translateX(2.1rem);
  background-color: green;
}

.card {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  min-width: 35rem;
  border-radius: 1rem;
  overflow: hidden;
}
.lights {
  position: absolute;
  z-index: 2;
  display: none;
  transition: all 0.3s;
}
.lights.active {
  display: block;
}
.bulb-odd {
  animation: party 0.5s infinite alternate;
}
.bulb-even {
  animation: party 0.5s infinite alternate-reverse;
}

@keyframes party {
  from {
    fill: #ff1111;
  }
  to {
    fill: #f3ea19;
  }
}
/* .container:has(.lights-input:checked) .lights {
  opacity: 1;
  visibility: visible;
} */

.top {
  height: 10rem;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 1rem
    ),
    repeating-linear-gradient(#444cf755, #444cf7);
}

.middle {
  margin: 0 auto;
  text-align: center;
  margin-top: -6rem;
  z-index: 1;
}
.pic {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  border: 0.4rem solid #fff;
}

.title {
  font-size: 2.2rem;
}
.profession {
  font-size: 1.6rem;
}
.bottom {
  display: flex;
  margin-top: 3rem;
  border-top: 0.1rem solid #c4c4c4;
}
.column {
  flex: 1;
  padding: 1.8rem 1.5rem;
  text-align: center;
  transition: background-color 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.column.anemation {
  background-color: rgb(165, 165, 142);
  cursor: pointer;
}
.column.active {
  transform: scale(1.1); /* Example: Slightly enlarge the column */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow */
  opacity: 1;
  transform: translateY(0);
}
.column:nth-child(2) {
  border-right: 0.1rem solid #c4c4c4;
  border-left: 0.1rem solid #c4c4c4;
}
.icon {
  width: 2rem;
  height: 2rem;
  transition: transform 0.5s ease;
}
.icon:hover {
  transform: scale(1.5);
  background-color: aqua;
  border-radius: 50%;
}
.username {
  font-size: 1.6rem;
}
.projects__title {
  text-align: center;
  margin-left: 10rem;
  margin-bottom: 2rem;
  border: 0.1rem #000 solid;
  background-color: #e5e5f7;
}
.projects {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 40.7rem;
  border-radius: 0 0 5rem 5rem;
  padding: 2rem;
  margin-top: 0.1rem;
  font-size: medium;
}
